/*-----------------Colores-----------------*/

$color-fondo: #eaceb4;
$color-letra: #ffffff;
$color-titulo-receta: #bb5a5a;
$color-letra-hover:#6a687a;
$color-sombra: rgba(0, 0, 0, 0.3);

/*-----------------Estilos de letras-----------------*/

$letra-cursiva: "Style Script", cursive;
$letra-texto: "Montserrat";