@import "variables.scss";
@import "mixin.scss";

html {
    height: 100%;
}
body {
    background-color: $color-fondo;
    margin: 0;
    min-height: 100%;
}
.carrito {
    @include posiciones-justify-content(flex, flex-end);
    margin: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
}
.carrito img {
    width: 60px;
}
.container-button-carrito {
    margin: 20px 15px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: $color-letra-hover;
    @include estilo-fuentes(bold, 25px, $letra-texto, $color-fondo);
    border: 2px solid $color-letra-hover;
}
.container-button-carrito:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px $color-sombra;
    color: $color-letra;
}
.container-carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imagen_central {
    @include posiciones-justify-content(flex, center);
}
.imagen_central img {
    height: 350px;
}
header {
    @include posiciones-justify-content(flex, space-evenly);
}
header h3 {
    margin-top: 0;
}
header a {
    font-family: $letra-cursiva;
    font-size: 40px;
    color: $color-letra;
    text-decoration: none;
}
header a:hover {
    color: $color-letra-hover;
    text-decoration: underline;
}
.contenedor_img {
    @include posiciones-justify-content(flex, space-around);
}
.contenedor_img img {
    @include sizes(400px, 380px);
    margin: 10px 0 15px 0;
    border-radius: 10px;
}
.about_me {
    color: $color-letra;
}
.about_me h2 {
    font-family: $letra-cursiva;
    font-size: 100px;
    @include posiciones-justify-content(flex, center);
    margin: 20px;
}
.about_me p {
    @include posiciones-justify-content(flex, center);
    font-family: $letra-texto;
    font-size: 18px;
    margin: 0 25px 20px 25px;
}

.container_torta {
    @include posiciones-justify-content(flex, space-around);
    flex-direction: row;
}
.chocotorta {
    @include sizes(300px, 300px);
    border-radius: 20px;
    border: 2px solid $color-letra;
    margin-bottom: 15px;
}
.texto_torta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto_torta h3 {
    color: $color-letra;
    font-size: 30px;
    font-family: $letra-texto;
    margin-left: 15px;
    background-color: #e79e85;
    padding: 10px;
    border-radius: 15px;
}
.section-torta {
    width: 500px;
}
.torta-img {
    @include sizes(420px, 300px);
    border-radius: 20px;
    border: 2px solid $color-letra;
    margin: 10px 70px 15px 0;
}
.torta-img-api {
    border-radius: 20px;
    border: 2px solid $color-letra;
    margin: 10px 70px 15px 0;
}
#chocotortaSelect {
    margin-left: 15px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    outline: none;
    background-color: $color-fondo;
    @include estilo-fuentes(bold, 20px, $letra-texto, $color-letra-hover);
    border: 2px solid $color-letra-hover;
}
#chocotortaSelect:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px $color-sombra;
    color: $color-letra;
}
.container-button {
    margin: 20px 15px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: $color-letra-hover;
    @include estilo-fuentes(bold, 25px, $letra-texto, $color-fondo);
    border: 2px solid $color-letra-hover;
}
.container-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px $color-sombra;
    color: $color-letra;
}
#chocotortaPriceProductSelected {
    @include estilo-fuentes(bold, 30px, $letra-texto, $color-letra);
    @include posiciones-justify-content(flex, center);
    margin-top: 0;
    display: none;
}
.divCarrito {
    @include estilo-fuentes(bold, 25px, $letra-texto, $color-letra);
    @include posiciones-justify-content(flex, flex-start);
    margin: 15px 10px;
    background-color: #e79e85;
    border-radius: 15px;
    padding: 8px;
}
#parrafoCarrito {
    margin: 20px;
}
.eliminarCarrito {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carritoVacio {
    @include estilo-fuentes(bold, 30px, $letra-texto, $color-letra);
    @include posiciones-justify-content(flex, center);
    margin-top: 0;
}
#redvelvetProductSelect {
    margin-left: 15px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    outline: none;
    background-color: $color-fondo;
    @include estilo-fuentes(bold, 20px, $letra-texto, $color-letra-hover);
    border: 2px solid $color-letra-hover;
}
#redvelvetProductSelect:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px $color-sombra;
    color: $color-letra;
}
#redvelvetPriceProductSelected {
    @include estilo-fuentes(bold, 30px, $letra-texto, $color-letra);
    @include posiciones-justify-content(flex, center);
    margin-top: 0;
    display: none;
}
#bananaProductSelect {
    margin-left: 15px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    outline: none;
    background-color: $color-fondo;
    @include estilo-fuentes(bold, 20px, $letra-texto, $color-letra-hover);
    border: 2px solid $color-letra-hover;
}
#bananaProductSelect:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px $color-sombra;
    color: $color-letra;
}
#bananaPriceProductSelected {
    @include estilo-fuentes(bold, 30px, $letra-texto, $color-letra);
    @include posiciones-justify-content(flex, center);
    margin-top: 0;
    display: none;
}
#carrotCakeProductSelect {
    margin-left: 15px;
    padding: 10px 0 10px 35px;
    border-radius: 10px;
    outline: none;
    background-color: $color-fondo;
    @include estilo-fuentes(bold, 20px, $letra-texto, $color-letra-hover);
    border: 2px solid $color-letra-hover;
}
#carrotCakeProductSelect:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px $color-sombra;
    color: $color-letra;
}
#carrotCakePriceProductSelected {
    @include estilo-fuentes(bold, 30px, $letra-texto, $color-letra);
    @include posiciones-justify-content(flex, center);
    margin-top: 0;
    display: none;
}
#vanilaCakeProductSelect {
    margin-left: 15px;
    padding: 10px 0 10px 35px;
    border-radius: 10px;
    outline: none;
    background-color: $color-fondo;
    @include estilo-fuentes(bold, 20px, $letra-texto, $color-letra-hover);
    border: 2px solid $color-letra-hover;
}
#vanilaCakeProductSelect:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px $color-sombra;
    color: $color-letra;
}
#vanilaCakePriceProductSelected {
    @include estilo-fuentes(bold, 30px, $letra-texto, $color-letra);
    @include posiciones-justify-content(flex, center);
    margin-top: 0;
    display: none;
}
.contenedor-recetas {
    @include posiciones-justify-content(flex, space-around);
    flex-direction: row;
}
.imagen-recetas {
    @include sizes(300px, 300px);
    border-radius: 20px;
    border: 2px solid $color-letra;
}
.imagen-recetas:hover {
    @include sizes(280px, 280px);
    border-color: transparent;
    transition: width 1s, height 1s;
}
footer {
    @include posiciones-justify-content(flex, center);
    color: $color-letra;
}
.footer_contacto h3 {
    font-family: $letra-cursiva;
    font-size: 40px;
    margin-bottom: 0;
}
.footer_img img {
    @include sizes(50px, 50px);
}

#totalCar {
    background-color: #e65b5b;
    color: $color-letra;
    font-size: $letra-cursiva;
    font-weight: bold;
    border-radius: 100%;
    padding: 8px;
    height: 8px;
    position: absolute;
    width: 8px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_recetas {
    font-family: $letra-cursiva;
    font-size: 100px;
    @include posiciones-justify-content(flex, center);
    margin: 20px;
    color: $color-titulo-receta;
}
.subtitulo_recetas {
    color: $color-letra;
    font-size: 30px;
    font-family: "Montserrat";
    background-color: #e79e85;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.preparacion {
    color: $color-letra;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .contenedor_img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor_img img {
        width: 200px;
        height: 200px;
        margin: 15px;
    }
    .about_me h2 {
        font-size: 35px;
    }
    .about_me p {
        font-size: 15px;
    }
    .carrito img {
        width: 40px;
    }
    .imagen_central img {
        height: 150px;
    }
    .chocotorta {
        height: 80px;
        width: 80px;
        margin-left: 20px;
    }
    header a {
        font-size: 20px;
    }
    .texto_torta h3 {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .titulo_recetas{
        font-size: 45px;
    }
    .subtitulo_recetas{
        font-size: 20px;
    }
    .preparacion{
        font-size: 15px
    }
    .preparacion li{
        color: slategrey;
        font-weight: bold;
    }
    #chocotortaSelect {
        margin-left: 0px;
        margin-right: 20px;
        font-size: 8px;
        padding-left: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container-button {
        margin: 5px 0px;
        padding: 5px;
        border-radius: 10px;
        font-size: 10px;
    }
    #redvelvetProductSelect {
        margin-left: 0px;
        margin-right: 10px;
        padding: 5px;
        font-size: 8px;
    }
    #bananaProductSelect {
        margin-left: 0px;
        margin-right: 10px;
        padding: 5px;
        font-size: 8px;
    }
    #carrotCakeProductSelect {
        margin-left: 0px;
        margin-right: 10px;
        padding: 5px;
        font-size: 8px;
    }
    #vanilaCakeProductSelect {
        margin-left: 0px;
        margin-right: 10px;
        padding: 5px;
        font-size: 8px;
    }
    .torta-img {
        width: 100px;
        height: 80px;
        margin: 5px 5px 5px 20px;
    }
    .container-button-carrito {
        margin: 15px 5px;
        padding: 5px;
        font-size: 15px;
    }
    .imagen-recetas {
        width: 200px;
        height: 200px;
        margin: 15px;
    }
    .contenedor-recetas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_contacto h3 {
        font-size: 20px;
    }
    .footer_img img {
        width: 20px;
        height: 20px;
    }
    #parrafoCarrito {
        font-size: 15px;
        margin: 5px;
    }
}
